<div class="page-details row">

  <span class="col-sm-2">
    <h2> Trip Info - Local </h2>
  </span>

<span class="col-sm-9" style="padding:25px 0">
  <span class="col-sm-1">
    <label>Vehicle No</label>
  </span>
  <span class="col-sm-2">
    <input type="text" name="searchVehicleNo" autocomplete="off" [typeahead]="vehicleData" typeaheadOptionField="vehicleNo" class="form-control" [(ngModel)]="searchVehicleNo">
  </span>
  <span class="col-sm-1">
    <label>From Date</label>
  </span>
  <span class="col-sm-2">
    <input type="text" #dp="bsDatepicker" [bsConfig]="{dateInputFormat: 'DD-MM-YYYY', modelFormat: 'DD-MM-YYYY'}" bsDatepicker name="searchFrom" class="form-control" [(ngModel)]="searchFrom">
  </span>
  <span class="col-sm-1">
    <label>To Date</label>
  </span>
  <span class="col-sm-2">
    <input type="text" #dp="bsDatepicker" [bsConfig]="{dateInputFormat: 'DD-MM-YYYY'}" bsDatepicker name="searchTo" class="form-control" [(ngModel)]="searchTo">
  </span>
  <span class="col-sm-2">
  <button class="editbtn btn" (click)="searchTrips()">Search</button>
  </span>
</span>
  <span class="col-sm-1 text-right">
    <a class="addbtn" data-toggle="modal" data-target="#myModal" (click)="addTrip(); openModal(template)">
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
    </a>
  </span>
</div>
<div class="vendor-data-table">
  <div class="table-caption row no-margin">
    <span class="col-sm-1">#</span>
    <span class="col-sm-3">Vendor Name</span>
    <span class="col-sm-3">Vehicle No</span>
    <span class="col-sm-3">Load Date</span>
    <span class="col-sm-1">Action</span>
  </div>
  <accordion>

    <div class="table-row row no-margin" *ngFor="let trip of tripInfo | async; let i = index;">
      <accordion-group #group [isOpen]>
        <div accordion-heading>
          <span class="col-sm-1"> {{i + 1}}</span>
          <span class="col-sm-3">{{trip.vendorName}}</span>
          <span class="col-sm-3">{{trip.vehicleNo}}</span>
          <span class="col-sm-3">{{trip.loadDate | date: 'd/M/yy, h:mm a' }}</span>
          <span class="col-sm-1">
            <a class=" togglebtn" *ngIf="group?.isOpen == true">
              <i class="fa fa-toggle-on" aria-hidden="true"></i>
            </a>
            <a class=" togglebtn" *ngIf="group?.isOpen == false">
              <i class="fa fa-toggle-off" aria-hidden="true"></i>
            </a>
          </span>
        </div>
        <div class="row no-margin">
          <div class="table-row row no-margin">
            <app-trip-insert-update [tripData]="trip" [actionType]="updateAction" [vendorData]="vendorData" [officeData]="officeData" [driverData]="driverData" [vehicleData]="vehicleData" [cityLocation]="cityLocation" (cancelClicked)="group.isOpen = false">

            </app-trip-insert-update>
          </div>
        </div>
      </accordion-group>
    </div>
  </accordion>
</div>




  <!-- Bootstrap Modal -->
  
  <ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left"> Add New Trip</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-trip-insert-update [actionType]="addAction" [vendorData]="vendorData" [officeData]="officeData" [driverData]="driverData" [vehicleData]="vehicleData" [cityLocation]="cityLocation" (cancelClicked)="modalRef.hide()">

        </app-trip-insert-update>
    </div>
</ng-template>

