<div class="topbar">
  <div class="row no-margin">
    <span class="col-sm-6">
      <div class="logo">
        <span class="circle">JT</span>
        <span class="text">Transport</span>
      </div>
    </span>
    <span class="col-sm-6">
      <div class="user text-right">
          <span class=""><a style="cursor:pointer" (click)="logout()" data-toggle="tooltip" title="logout"><i class="fa fa-sign-out" aria-hidden="true" style="color:#fff; font-size:30px;"></i></a></span>
      </div>
    </span>
  </div>
</div>