.login-container {
    height: 100vh;
    position: relative;
    background: url(../../assets/images/login.png) no-repeat center;
    background-size: cover;
}
.blur {
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
}
.logo{
    color:#fff;
}

.logo .circle{
border-radius:50%;
background-color: #FF5630;
padding:10px;
font-size:20px;
}

h2{
    color: #fcfcfc;
    font-size: 25px;    
}

.login {
    width: 350px;
    position: absolute;
    top: 25%;
    left: 40%;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}
.login input,
.btn-row {
    margin: 5px 0;
}

.btn-row{
    padding: 0;
}

.btn.loginbtn{
    background-color: #0052CC;
    color: #fff;
}

.btn.cancelbtn{
    background-color:#36B37E;
    color: #fff;
}