<div class="login-container">
  <span class="blur"></span>
  <div class="login">
    <div class="row">
      <span class="col-sm-12 text-center">
           <div class="logo">
             <span class="circle">JT</span>
             <span class="text">Transport</span>
           </div>
      </span>
    </div>
    <div class="row">
      <h2 class="col-sm-12">Login</h2>
      <form>
        <span class="col-sm-12"><input class="form-control" type="text" placeholder="Username"></span>
        <span class="col-sm-12"><input class="form-control" type="text" placeholder="Password"></span>
        <span class="col-sm-12 btn-row">
          <span class="col-sm-6 text-left"><button class="btn loginbtn" [routerLink] = "['/pages']" >Login</button></span>
          <span class="col-sm-6 text-right"><button class="btn cancelbtn">Cancel</button></span>
        </span>
      </form>
    </div>
  </div>
</div>