.menu{
    padding: 10px 0;
}

.sidebar{
    height: 100%;
    background-color: #091E42;    
    position: fixed;
    width: 16%;
    top:60px;
    box-shadow: 7px -2px 6px rgba(0,0,0,0.4)
}

.menu li{
    list-style-type: none;
    padding: 10px 20px;
    border-bottom: solid 1px rgba(255,255,255,0.3);

}

.menu li a{
    color: #fff;
    text-decoration: none;
}

.menu li:last-child{
    border-bottom: none;
}

.menu li a .fa{
    padding: 5px 0;
    width:35px;    
}