<div class="sidebar">
  <div class="row no-margin">
    <ul class="menu">
      <li class=""><a [routerLink] = "['/pages/']"><i class="fa fa-dashboard fa-lg"></i> Dashboard </a></li>
      <li class=""><a [routerLink] = "['/pages/vehicleinfo']"><i class="fa fa-car fa-lg"></i> Vehicle Info </a></li>
      <li class=""><a [routerLink] = "['/pages/vendorinfo']"><i class="fa fa-user fa-lg"></i> Vendor Info</a></li>
      <li class=""><a [routerLink] = "['/pages/officeinfo']"><i class="fa fa-user fa-lg"></i> Office Info</a></li>
      <li class=""><a [routerLink] = "['/pages/driverinfo']"><i class="fa fa-user fa-lg"></i> Driver Info</a></li>
      <li class=""><a [routerLink] = "['/pages/vehiclepayment']"><i class="fa fa-inr fa-lg"></i> Vehicle Payment</a></li>
      <li class=""><a [routerLink] = "['/pages/vendorpayment']"><i class="fa fa-inr fa-lg"></i> Vendor Payment</a></li>
      <li class=""><a [routerLink] = "['/pages/tripinfo']"><i class="fa fa-tripadvisor fa-lg"></i> Trip Info</a></li>
      <li class=""><a [routerLink] = "['/pages/expenses']"><i class="fa fa-inr fa-lg"></i> Expenses</a></li>
    </ul>
  </div>
</div>
