<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-3 minheight">
        <h3>
          <span>Insurance</span>
        </h3>
        <div class="table">
          <table>
            <thead>
              <tr>
                <td class="col-sm-6">Vechile No</td>
                <td class="col-sm-6">Expiry Date</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let insurance of expiryData.insuranceRenewalList">
                <td class="col-sm-6">{{insurance.vehicleNo}}</td>
                <td class="col-sm-6">{{insurance.date | date}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-sm-3 minheight">
        <h3>
          <span>FC</span>
        </h3>
        <div class="table">
          <table>
            <thead>
              <tr>
                <td class="col-sm-6">Vechile No</td>
                <td class="col-sm-6">Expiry Date</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let fc of expiryData.fcRenewalList">
                <td class="col-sm-6">{{fc.vehicleNo}}</td>
                <td class="col-sm-6">{{fc.date | date}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    <!--</div>
    <div class="row">-->
      <div class="col-sm-3 minheight">
        <h3>
          <span>Permit</span>
        </h3>
        <div class="table">
          <table>
            <thead>
              <tr>
                <td class="col-sm-6">Vechile No</td>
                <td class="col-sm-6">Expiry Date</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let permit of expiryData.permitRenewlList">
                <td class="col-sm-6">{{permit.vehicleNo}}</td>
                <td class="col-sm-6">{{permit.date | date}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-sm-3 minheight">
        <h3>
          <span>NP Tax</span>
        </h3>
        <div class="table">
          <table>
            <thead>
              <tr>
                <td class="col-sm-6">Vechile No</td>
                <td class="col-sm-6">Expiry Date</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let np of expiryData.npTaxRenewalList">
                <td class="col-sm-6">{{np.vehicleNo}}</td>
                <td class="col-sm-6">{{np.date | date}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">

  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-3 minheight">
        <h3>
          <span>Oil Service</span>
        </h3>
        <div class="table">
          <table>
            <thead>
              <tr>
                <td class="col-sm-6">Vechile No</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let oilService of serviceData.oilService">
                <td class="col-sm-6">{{oilService}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-sm-3 minheight">
        <h3>
          <span>Wheel Grease</span>
        </h3>
        <div class="table">
          <table>
            <thead>
              <tr>
                <td class="col-sm-6">Vechile No</td>
              </tr>
            </thead>
            <tbody>
               <tr *ngFor="let wheelGrease of serviceData.wheelGrease">
                <td class="col-sm-6">{{wheelGrease}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    <!--</div>
    <div class="row">-->
      <div class="col-sm-3 minheight">
        <h3>
          <span>Air Filter</span>
        </h3>
        <div class="table">
          <table>
            <thead>
              <tr>
                <td class="col-sm-6">Vechile No</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let airFilter of serviceData.airFilter">
                <td class="col-sm-6">{{airFilter}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-sm-3 minheight">
        <h3>
          <span>Tyre Powder</span>
        </h3>
        <div class="table">
          <table>
            <thead>
              <tr>
                <td class="col-sm-6">Vechile No</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tyrePowder of serviceData.tyrePowder">
                <td class="col-sm-6">{{tyrePowder}}</td>
              </tr>
           </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-3 minheight">
        <h3>
          <span>Diesel Filter</span>
        </h3>
        <div class="table">
          <table>
            <thead>
              <tr>
                <td class="col-sm-6">Vechile No</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let dieselFilter of serviceData.dieselFilter">
                <td class="col-sm-6">{{dieselFilter}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-sm-3 minheight">
        <h3>
          <span>Stainner</span>
        </h3>
        <div class="table">
          <table>
            <thead>
              <tr>
                <td class="col-sm-6">Vechile No</td>
              </tr>
            </thead>
            <tbody>
               <tr *ngFor="let stainner of serviceData.stainner">
                <td class="col-sm-6">{{stainner}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
  </div>
</div>